include ../_modules/organisms/header/header

//- Custom Configuration
block config
    //- Setup site's base URL to match the "baseUrl" key within `package.json`
    //- Otherwise default to relative pathing
    - var baseUrl = config.baseUrl || './'

doctype html
html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

        title UX Manager | infinite imaginations

        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=5.0')

        meta(name='google-site-verification', content='oXearTxGSlotNgqnSGdz9E5lE8B73H42x5KWm2MqYk8')

        link(rel='manifest', href='/manifest.json')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='msapplication-TileColor', content='#2b2c33')
        meta(name='msapplication-TileImage', content= baseUrl + '/assets/infiniteimaginations/images/favicon/ms-icon-144x144.png')
        meta(name='theme-color', content='#2b2c33')

        link(rel='mask-icon', href='/favicon.svg', color='#2b2c33')
        link(rel='apple-touch-icon', sizes='57x57', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href= baseUrl + '/assets/infiniteimaginations/images/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href= baseUrl + '/assets/infiniteimaginations/images/favicon/android-icon-192x192.png')

        link(rel='icon', type='image/png', sizes='32x32', href= baseUrl + '/assets/infiniteimaginations/images/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href= baseUrl + '/assets/infiniteimaginations/images/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href= baseUrl + '/assets/infiniteimaginations/images/favicon/favicon-16x16.png')

        meta(name='robots', content='follow')
        meta(name='author', content='Niño Ross Rodriguez')
        meta(name='copyright', content='2019')
        meta(name='description', content="I'm Niño Ross Rodriguez, a multi-award winning interface developer highly skilled in HTML, CSS and JavaScript. He possesses a designer’s artistic eye and a programmer’s logical mind. This ensures that his websites are accessible, fun to use, and beautiful.")
        meta(name='keywords', content='canberra, australia, ux developer canberra, ux developer australia')

        meta(property='og:title', content='UX Manager | infinite imaginations')
        meta(property='og:type', content='website')
        meta(property='og:url', content='//www.infiniteimaginations.co')
        meta(property='og:image', content='//www.infiniteimaginations.co/share-image.jpg')
        meta(property='og:description', content="I'm Niño Ross Rodriguez, a multi-award winning interface developer highly skilled in HTML, CSS and JavaScript. He possesses a designer’s artistic eye and a programmer’s logical mind. This ensures that his websites are accessible, fun to use, and beautiful.")
        meta(property='og:site_name', content='infinite imaginations')

        meta(name='twitter:card', content='summary')
        meta(name='twitter:creator', content='Niño Ross Rodriguez')
        meta(name='twitter:url', content='//www.infiniteimaginations.co')
        meta(name='twitter:title', content='UX Manager | infinite imaginations')
        meta(name='twitter:description', content="I'm Niño Ross Rodriguez, a multi-award winning interface developer highly skilled in HTML, CSS and JavaScript. He possesses a designer’s artistic eye and a programmer’s logical mind. This ensures that his websites are accessible, fun to use, and beautiful.")
        meta(name='twitter:image', content='//www.infiniteimaginations.co/share-image.jpg')
    body
        +header()

        .loader
            svg.circular(viewbox='25 25 50 50')
                circle.path(cx='50', cy='50', r='18', fill='none', stroke-width='3', stroke-miterlimit='10')

        main#main
            block content

        block stylesheets
            link(rel='stylesheet', href= baseUrl + '/assets/infiniteimaginations/css/main.css')

        block scripts
            script(src= baseUrl + '/assets/infiniteimaginations/js/main.js')

            script#toaster-template(type='text/template')
                .toaster(class='toaster{{= it.ind }}')
                    p {{! it.message }}
                    | {{? it.isReload }}
                    button.btn-refresh.js-refresh Refresh
                    | {{? }}
                    button.js-dismiss
                        span.sr-only Close
                        i.icon.icon-cross

            script#case-study-template(type='text/template')
                .case-study__section.tldr
                    .wrap
                        .col.col-12
                            //- img(src='{{! it.image }}', alt='{{! it.title }}')
                            .glitch__cont(style='background-image: url({{! it.image }}); padding-bottom:{{! it.padding}}%;', title='{{! it.title }}')
                                .glitch__img(style='background-image: url({{! it.image }}); padding-bottom:{{! it.padding}}%;', title='{{! it.title }}')
                                .glitch__img(style='background-image: url({{! it.image }}); padding-bottom:{{! it.padding}}%;', title='{{! it.title }}')
                                .glitch__img(style='background-image: url({{! it.image }}); padding-bottom:{{! it.padding}}%;', title='{{! it.title }}')
                                .glitch__img(style='background-image: url({{! it.image }}); padding-bottom:{{! it.padding}}%;', title='{{! it.title }}')
                                .glitch__img(style='background-image: url({{! it.image }}); padding-bottom:{{! it.padding}}%;', title='{{! it.title }}')
                            h2 TLDR;
                            hr
                            i.pattern
                            p {{= it.tldr }}
                            | {{? it.url.live }}
                            a.cta(href='{{! it.url.live }}', data-text='visit website', target='_blank') visit website
                            | {{? }}
                        .tldr-sub.col.col-6
                            .case-study__section.technology
                                h3 Technology Used
                                hr
                                i.pattern
                                ul
                                    | {{~it.technology :value:index }}
                                    li {{=value}}
                                    | {{~}}
                        .tldr-sub.col.col-6
                            .case-study__section.role
                                h3 Role
                                hr
                                i.pattern
                                p {{! it.role }}
                | {{? it.challenges }}
                .case-study__section.challenges
                    h2 Challenges
                    hr
                    i.pattern
                    | {{~it.challenges :value:index }}
                    p {{=value}}
                    | {{~}}
                    | {{? }}
                    | {{? it.solutions }}
                .case-study__section.solutions
                    h2 Solutions
                    hr
                    i.pattern
                    | {{~it.solutions :value:index }}
                    p {{=value}}
                    | {{~}}
                | {{? }}
                .case-study__section.navigation
                    .wrap
                        .col.col-12
                            a(href='{{! it.nextItem.url}}')
                                .navigation-label
                                    | next: !{' '}
                                    span {{! it.nextItem.title }}
                                i.line
                                i.navigation-shadow
                                .navigation-icon
                                    i.icon.icon-chevron-right
                                    i.icon.icon-chevron-right
                        .col.col-12
                            a.js-back-to-listing(href='/#/{{! it.category }}/')
                                .navigation-label back to listing
                                i.line
                                i.navigation-shadow
                                .navigation-icon
                                    i.icon.icon-chevron-right
                                    i.icon.icon-chevron-right

            script#article-template(type='text/template')
                .article__section
                    |{{= it.content }}

                .article__section.navigation
                    .wrap
                        .col.col-12
                            a(href='{{! it.nextItem.url}}')
                                .navigation-label
                                    | next: !{' '}
                                    span {{! it.nextItem.title }}
                                i.line
                                i.navigation-shadow
                                .navigation-icon
                                    i.icon.icon-chevron-right
                                    i.icon.icon-chevron-right
                        .col.col-12
                            a.js-back-to-listing(href='/#/achievements/')
                                .navigation-label back to listing
                                i.line
                                i.navigation-shadow
                                .navigation-icon
                                    i.icon.icon-chevron-right
                                    i.icon.icon-chevron-right
