include ../_modules/organisms/header/header

//- Custom Configuration
block config
    //- Setup site's base URL to match the "baseUrl" key within `package.json`
    //- Otherwise default to relative pathing
    - var baseUrl = config.baseUrl || './'

doctype html

<!--[if lt IE 9]>
<html class='lt-ie9 no-js' lang='en'>
<![endif]-->
<!--[if gte IE 9]><!-->
<html class='no-js' lang='en'>
<!--<![endif]-->

head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    title infinite imaginations | UX Front-end Developer

    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    meta(name='google-site-verification', content='oXearTxGSlotNgqnSGdz9E5lE8B73H42x5KWm2MqYk8')

    link(rel='manifest', href='/manifest.json')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='msapplication-TileColor', content='#383838')
    meta(name='msapplication-TileImage', content='images/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#383838')

    link(rel='mask-icon', href='/favicon.svg', color='#383838')
    link(rel='apple-touch-icon', sizes='57x57', href='/assets/infiniteimaginations/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/assets/infiniteimaginations/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/assets/infiniteimaginations/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/assets/infiniteimaginations/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/assets/infiniteimaginations/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/assets/infiniteimaginations/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/assets/infiniteimaginations/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/assets/infiniteimaginations/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/assets/infiniteimaginations/images/favicon/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/assets/infiniteimaginations/images/favicon/android-icon-192x192.png')

    link(rel='icon', type='image/png', sizes='32x32', href='/assets/infiniteimaginations/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/assets/infiniteimaginations/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/assets/infiniteimaginations/images/favicon/favicon-16x16.png')

    meta(name='robots', content='follow')
    meta(name='author', content='Niño Ross Rodriguez')
    meta(name='copyright', content='2017')
    meta(name='description', content="I'm Niño Ross Rodriguez, a Senior User Experience (UX) Developer with nine years of industry experience, specializing in developing pixel perfect websites quickly without sacrificing code quality and ensuring that users have the best UX they can get in a site.")
    meta(name='keywords', content='Australia, web development, web developer, web design, user experience, user experience developer, front-end developer, responsive website, niño ross rodriguez, infinite imaginations, portfolio')

    meta(property='og:title', content='infinite imaginations | UX Front-end Developer')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.infiniteimaginations.co')
    meta(property='og:image', content='http://www.infiniteimaginations.co/share-image.jpg')
    meta(property='og:description', content="I'm Niño Ross Rodriguez, a Senior User Experience (UX) Developer with nine years of industry experience, specializing in developing pixel perfect websites quickly without sacrificing code quality and ensuring that users have the best UX they can get in a site.")
    meta(property='og:site_name', content='infinite imaginations')

    meta(name='twitter:card', content='summary')
    meta(name='twitter:creator', content='Niño Ross Rodriguez')
    meta(name='twitter:url', content='http://www.infiniteimaginations.co')
    meta(name='twitter:title', content='infinite imaginations | UX Front-end Developer')
    meta(name='twitter:description', content="I'm Niño Ross Rodriguez, a Senior User Experience (UX) Developer with nine years of industry experience, specializing in developing pixel perfect websites quickly without sacrificing code quality and ensuring that users have the best UX they can get in a site.")
    meta(name='twitter:image', content='http://www.infiniteimaginations.co/share-image.jpg')

    style.
        .header.dark svg path,.logo{opacity:0}.header{-webkit-transition-property:background,top;transition-property:background,top;-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transition-timing-function:cubic-bezier(.19,1,.22,1);transition-timing-function:cubic-bezier(.19,1,.22,1);background-color:#eee;height:75px;padding:17px 20px;position:fixed;top:0;width:100%;z-index:10}.header-wrap,.logo svg path,.logo svg polygon{-webkit-transition-duration:.5s;-webkit-transition-timing-function:cubic-bezier(.19,1,.22,1)}.header-wrap{-webkit-transition-property:visibilty;transition-property:visibilty;transition-duration:.5s;transition-timing-function:cubic-bezier(.19,1,.22,1);height:100%;overflow:hidden;position:absolute;right:0;top:0;visibility:hidden;width:100%}.header-wrap.active{visibility:visible}.header.dark{background-color:#383838}.header.dark svg polygon{fill:#fff}.header.dark .menu .box{background-color:#fff}.header.hide{top:-75px}.logo{position:absolute;-webkit-transform:translate(0,50px);transform:translate(0,50px);z-index:1}.logo svg path,.logo svg polygon{-webkit-transition-property:opacity;transition-property:opacity;transition-duration:.5s;transition-timing-function:cubic-bezier(.19,1,.22,1);opacity:1}.primary-nav,.primary-nav .overlay{-webkit-transition-timing-function:cubic-bezier(.19,1,.22,1);top:0}.primary-nav{-webkit-transition-property:opacity,visibility;transition-property:opacity,visibility;-webkit-transition-duration:.5s;transition-duration:.5s;transition-timing-function:cubic-bezier(.19,1,.22,1);height:100%;left:0;opacity:0;position:fixed;visibility:hidden;width:100%;z-index:10}.primary-nav.active{opacity:1;visibility:visible}.primary-nav.active li{background-color:transparent;-webkit-transform:none;transform:none;opacity:1}.primary-nav.active .overlay{height:100%}.primary-nav .overlay{-webkit-transition-property:height;transition-property:height;-webkit-transition-duration:.3s;transition-duration:.3s;transition-timing-function:cubic-bezier(.19,1,.22,1);background-color:rgba(22,21,20,.9);display:block;cursor:pointer;height:0;right:0;position:absolute;width:inherit}.primary-nav ul{list-style-type:none;margin:70px 0 0;zoom:1;overflow-y:scroll;padding:20px 5px;position:relative;text-align:center}.primary-nav ul:after,.primary-nav ul:before{content:'';display:table}.primary-nav ul:after{clear:both}@media screen and (min-width:768px),print{.primary-nav ul{-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);left:50%;position:absolute;top:50%;height:auto!important;margin:0 auto auto;max-width:640px;overflow:hidden;width:100%;z-index:10}.primary-nav ul:before{display:none}}.primary-nav ul:before{background-repeat:repeat-x;background:-webkit-gradient(linear,left top,left bottom,from(rgba(22,21,20,.9)),to(transparent));background:-webkit-linear-gradient(top,rgba(22,21,20,.9) 0,transparent 100%);background:linear-gradient(to bottom,rgba(22,21,20,.9) 0,transparent 100%);height:20px;left:0;position:fixed;top:70px;width:100%;z-index:10}.primary-nav li{-webkit-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:cubic-bezier(.19,1,.22,1);transition-timing-function:cubic-bezier(.19,1,.22,1);background-color:#fff;-webkit-transform:translate(5px,20px) scale(.5);transform:translate(5px,20px) scale(.5);will-change:transform;float:left;height:40vw;opacity:0;margin-bottom:30px;padding:0 15px;position:relative;width:50%;z-index:1}@media (max-width:767px) and (orientation:landscape){.primary-nav li{height:27vw;width:33.333333%}}.primary-nav li:nth-child(1),.primary-nav li:nth-child(4){-webkit-transition-delay:.2s;transition-delay:.2s}.primary-nav li:nth-child(3),.primary-nav li:nth-child(6){-webkit-transition-delay:.3s;transition-delay:.3s}.primary-nav li:nth-child(5){-webkit-transition-delay:.4s;transition-delay:.4s}.primary-nav a{color:#fff;border:3px solid #fff}.primary-nav .element-box:before{display:none}.primary-nav .element-box .text{padding:0}@media screen and (min-width:768px),print{.primary-nav li{height:170px;width:33.333333%}.primary-nav li:nth-child(3){-webkit-transition-delay:.1s;transition-delay:.1s}.primary-nav li:nth-child(2),.primary-nav li:nth-child(6){-webkit-transition-delay:.2s;transition-delay:.2s}.primary-nav li:nth-child(1),.primary-nav li:nth-child(5){-webkit-transition-delay:.3s;transition-delay:.3s}.primary-nav li:nth-child(4){-webkit-transition-delay:.4s;transition-delay:.4s}.primary-nav .element-box .abbr{font-size:2.6em}}@media (max-width:767px) and (orientation:landscape){.primary-nav .element-box .full{font-size:.6em}}@media screen and (min-width:768px),print{.primary-nav .element-box .full{font-size:1em}}@media (max-width:767px) and (orientation:landscape){.primary-nav .element-box .icon{font-size:3em}.primary-nav .element-box .icon:before{height:48px;width:48px}}@media screen and (min-width:1024px),print{.primary-nav .element-box .icon{font-size:2.8em}.primary-nav .element-box .icon:before{height:56px;width:56px}}

    block stylesheets
        link(rel='stylesheet', href='/assets/infiniteimaginations/css/main.css')

body
    <!--[if lt IE 9]>
    <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    +header()

    main#main
        block content

    block scripts
        script(src='/assets/infiniteimaginations/js/main.js')

        script#toaster-template(type='text/template')
            .toaster(class='toaster{{= it.ind }}')
                .container
                    p {{! it.message }}
                    button.js-dismiss
                        span.vh Close
                        | X

        script#case-study-template(type='text/template')
            .case-study__section.tldr
                .wrap
                    .col.col-12
                        img(src='{{! it.image }}', alt='{{! it.title }}')
                        h2 TLDR;
                        hr
                        i.pattern
                        p {{= it.tldr }}
                        | {{? it.url.live }}
                        a.cta(href='{{! it.url.live }}', data-text='visit website', target='_blank') visit website
                        | {{? }}
                    .tldr-sub.col.col-6
                        .case-study__section.technology
                            h3 Technology Used
                            hr
                            i.pattern
                            ul
                                | {{~it.technology :value:index }}
                                li {{=value}}
                                | {{~}}
                    .tldr-sub.col.col-6
                        .case-study__section.role
                            h3 Role
                            hr
                            i.pattern
                            p {{! it.role }}
            | {{? it.challenges }}
            .case-study__section.challenges
                h2 Challenges
                hr
                i.pattern
                | {{~it.challenges :value:index }}
                p {{=value}}
                | {{~}}
                | {{? }}
                | {{? it.solutions }}
            .case-study__section.solutions
                h2 Solutions
                hr
                i.pattern
                | {{~it.solutions :value:index }}
                p {{=value}}
                | {{~}}
            | {{? }}
            .case-study__section.navigation
                .wrap
                    .col.col-12
                        a(href='{{! it.nextItem.url}}')
                            .navigation-label
                                | next: !{' '}
                                span {{! it.nextItem.title }}
                            i.line
                            i.navigation-shadow
                            .navigation-icon
                                i.icon.icon-chevron-right
                                i.icon.icon-chevron-right
                    .col.col-12
                        a.js-back-to-listing(href='/#/{{! it.category }}/')
                            .navigation-label back to listing
                            i.line
                            i.navigation-shadow
                            .navigation-icon
                                i.icon.icon-chevron-right
                                i.icon.icon-chevron-right





