/* ==========================================================================
DEPENDENCIES
    --------------------------------------------------------------------------
    _color.scss
    _mixin.scss
    _common.scss


    TABLE OF CONTENT
    --------------------------------------------------------------------------
    01 Global
    02 Layout
    03 Header
    04 Main Navigation
    05 Home Page
    06 Standard
    07 Footer
    08 Components

    00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */



/* =======================================================================
02 Layout
========================================================================== */




/* =======================================================================
03 Header
========================================================================== */



/* =======================================================================
04 Main Navigation
========================================================================== */
.primary-nav {
    .element-box {
        // .abbr {
        //     font-size: 3.400em;
        // }
        .icon {
            font-size: 2.8em;

            &:before {
                height: 56px;
                width: 56px;
            }
        }
    }
}



/* =======================================================================
05 Homepage
========================================================================== */
.hello {
    @include reset-centering();

    nav {
        li {
            height: 146px;
            width: 20%;

            &:last-child {
                width: 20%;
            }
        }
    }
}

.element {
    &-box {
        &:hover {
            border: 3px solid $blue;
            margin: 0;
            padding: 0;

            .icon {
                @include scale(1);

                opacity: 1;
            }
        }

        .abbr {
            font-size: 3.350em;
        }

        .full {
            font-size: 0.8em;
        }
    }
}

.about {
    @include reset-centering();

    .skills {
        &__percent{
            display: block;
        }
    }
}

.achievements {
    @include reset-centering();

    .nominations {
        li {
            font-size: 0.8em;
            width: 27.25%;

            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:last-child {
                @include inline-block;
            }
        }
    }
}

.case-studies {
    @include reset-centering();
}

.case-study {
    .line {
        width: 212px;
    }
}

.contact {
    h1 {
        font-size: 3.2em;
    }

    &-icons {
        ul {
            a {
                @include scale(1);

                @include transition(all, $animTime, $easeOutExpo);

                position: relative;

                &:hover {
                    @include scale(1.25);
                }
            }
        }
    }
}

.error {
    h1 {
        font-size: 3.2em;
    }
}


/* =======================================================================
06 Standard
========================================================================== */




/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */
@import 'components/materialDesign/desktop';


