/* ==========================================================================
DEPENDENCIES
    --------------------------------------------------------------------------
    _color.scss
    _mixin.scss
    _common.scss


    TABLE OF CONTENT
    --------------------------------------------------------------------------
    01 Global
    02 Layout
    03 Header
    04 Main Navigation
    05 Home Page
    06 Standard
    07 Footer
    08 Components

    00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */



/* =======================================================================
02 Layout
========================================================================== */



/* =======================================================================
03 Header
========================================================================== */



/* =======================================================================
04 Main Navigation
========================================================================== */



/* =======================================================================
05 Homepage
========================================================================== */
.hello {
    @include reset-centering();

    nav {
        li {
            height: 125px;
            margin: 0 15px;
            width: 125px;
        }

        .abbr {
            font-size: 3.750em;
        }

        .full {
            font-size: 0.875em;
        }
    }
}

.about {
    @include reset-centering();
}

.achievements {
    @include reset-centering();

    .nominations {
        li {
            width: 27.25%;
        }
    }
}

.contact {
    @include reset-centering();
    // left: 0;
    // right: 0;

    h1 {
        font-size: 3.2em;
    }
}



/* =======================================================================
06 Standard
========================================================================== */



/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */
@import 'components/materialDesign/desktop';


