/* ==========================================================================
DEPENDENCIES
    --------------------------------------------------------------------------
    _color.scss
    _mixin.scss
    _common.scss


    TABLE OF CONTENT
    --------------------------------------------------------------------------
    01 Global
    02 Layout
    03 Header
    04 Main Navigation
    05 Home Page
    06 Standard
    07 Footer
    08 Components

    00 Imports
================================================== */

@import 'common/mixin';
@import 'common/vars';


/* =======================================================================
01 Global
========================================================================== */



/* =======================================================================
02 Layout
========================================================================== */



/* =======================================================================
03 Header
========================================================================== */



/* =======================================================================
04 Main Navigation
========================================================================== */




/* =======================================================================
05 Homepage
========================================================================== */
.hello {
    @include reset-centering();

    nav {
        li {
            height: 125px;
            width: 20%;

            &:last-child {
                width: 20%;
            }
        }
    }
}

.element-box {
    .abbr {
        font-size: 2.5em;
    }

    .full {
        font-size: 0.8em;
    }
}

.about {
    @include reset-centering();
}

.achievements {
    @include reset-centering();

    .nominations {
        li {
            font-size: 0.8em;
            width: 27.25%;

            &:last-child {
                @include inline-block;
            }
        }
    }
}

.case-studies {
    @include reset-centering();

    .card {
        height: 250px;
    }
}

.coding {

}

.design {

}

.contact {
    @include reset-centering();

    h1 {
        font-size: 3.2em;
    }
}

.error {
    @include reset-centering();

    h1 {
        font-size: 3.2em;
    }
}


/* =======================================================================
06 Standard
========================================================================== */




/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */
@import 'components/materialDesign/desktop';


