/* ========================================================================== DEPENDENCIES --------------------------------------------------------------------------
    _color.scss
    _mixin.scss
    _common.scss

    TABLE OF CONTENT
    --------------------------------------------------------------------------
    01 Global
    02 Layout
    03 Header
    04 Main Navigation
    05 Home Page
    06 Standard
    07 Footer
    08 Components

00 Imports
================================================== */

@import "common/mixin";
@import "common/vars";
@import "common/defaults";
@import "common/fonts";

/* =======================================================================
01 Global
========================================================================== */
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: $material-background;
    font: 62.5%/1.618 'HelveticaNeue', Arial, sans-serif;
    margin: 0 !important;
}

/**
 * Headings
 */

h1, h2, h3, h4, h5, h6,
address {
    word-break: break-word;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;

    a {
        font-size: 1em;
    }
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.65em;
}

h3 {
    font-size: 2.3em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.8em;
    font-style: italic;
}

h6 {
    font-size: 1.6em;
    font-style: italic;
}

menu, ol, ul {
    font-size: $default-font-size;
    margin-bottom: 20px;
    padding: 0 0 0 40px;

    * {
        font-size: inherit;
    }

    a, p {
        font-size: 1em;
    }
}

ol, ul {
    margin: auto;

    code, kbd, pre, samp {
        font-size: inherit;
    }
}

dl {
    font-size: $default-font-size;
}

table {
    background-color: transparent;
    border: 1px solid $grey;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: $default-font-size;
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;

    tr:nth-child(even) {
        background: lighten($grey, 25%);
    }

    th, td {
        padding: 5px 10px;
    }

    th {
        background: darken($grey, 10%);
        color: $white;
        text-align: left;
    }

    li {
        font-size: inherit;
    }

    menu, ol, ul, p, a {
        font-size: 1em;
    }
}

code, kbd, pre, samp {
    font-size: $default-font-size;

    code, kbd, pre, samp {
        font-size: inherit;
    }
}

cite, p {
    a {
        font-size: inherit;
    }
}

img {
    display: block;
    height: auto;
    margin: 0 auto 10px;
    max-width: 100%;
    width: 100%;
}

address, p {
    word-break: break-word;
    font-size: $default-font-size;
    margin: 0 0 1em;

    code, kbd, pre, samp {
        font-size: inherit;
    }
}

a {
    @include transition(all, $animTime, $easeOutExpo);

    color: $matte-black;
    font-size: $default-font-size;
    font-weight: $bold;
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
}

hr {
    border-top: 2px solid $matte-black;
    margin: 30px 0 40px;
}

button {
    &:focus {
        outline: 0;
    }
}

.grid {
    [class^="col-"], [class*=" col-"] {
        background: lighten($grey, 25%);
        border: 1px solid $grey;
        font-size: 1em;
    }
}

[class^="col-"], [class*=" col-"] {
    margin-bottom: 20px;
    padding: 0 $gutter;
    width: 100%;

    div {
        font-size: inherit;
    }
}

.intro {
    font-weight: bold;

    p {
        font-size: 1.6em;
    }
}

.pull-left {
    float: left;
    margin-right: 15px;
}

.pull-right {
    float: right;
    margin-left: 15px;
}

.no-border {
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.img-responsive {
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
    width: 100%;
}

::-ms-clear {
    height: 22px;
    width: 22px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    color: #a9a9a9;
}

::-moz-selection {
    background: $blue;
    color: $white;
}

::selection {
    background: $blue;
    color: $white;
}

%clearfix {
    @include clearfix;
}

%container {
    @extend .clearfix;

    height: 100%;
    margin: auto;
    max-width: 1020px;
    position: relative;
    width: 100%;
}

%underline {
    box-shadow: inset 0 0 transparent, inset 0 -0.1em $blue;
    display: inline;
    text-shadow: -2px -2px transparent, -2px 2px transparent, 2px -2px transparent, 2px 2px transparent;
}

svg.ripple {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    circle {
        fill: $white;
        opacity: 0;
    }
}

.no-objectfit {
    .card-wrap {
        background-size: cover;
        background-position: center;

        img {
            display: none;
        }
    }
}

/* =======================================================================
02 Layout
========================================================================== */
.glitch {
    display: block;
    position: relative;

    &:before,
    &:after {
        background: $matte-black;
        content: attr(data-text);
        clip: rect(0, 900px, 0, 0);
        opacity: 0.5;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    &:before {
        animation: noise-anim-2 3s infinite linear alternate-reverse;
        left: -3px;
        text-shadow: 1px 0 cyan;
    }

    &:after {
        animation: noise-anim-1 2s infinite linear alternate-reverse;
        left: 3px;
        text-shadow: -1px 0 red;
    }
}

@keyframes noise-anim-1 {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

@keyframes noise-anim-2 {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

p {
    color: $matte-black;
    font-size: 2em;
    font-weight: $light;
    font-family: 'EBGaramond-Regular', serif;

    a {
        @include inline-block;

        background-color: $matte-black;
        color: $white;
        display: inline-block !important;
        font-weight: $bold;
        margin-bottom: 0;
        padding: 2px 10px 4px;
        position: relative;
        z-index: 1;

        &:hover {
            @extend .glitch;
        }

        &:before,
        &:after {
            left: 0 !important;
            top: 2px !important;
        }

        &:before {
            left: 7px !important;
        }

        &:after {
            left: 13px !important;
        }
    }
}

#main {
    @include transition(height, $animTime, $easeOutExpo);

    margin-top: 75px;
}

.backstretch {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* =======================================================================
03 Header
========================================================================== */
.header {
    @include transition(all, $animTime, $easeOutExpo);

    background-color: $material-background;
    height: 75px;
    padding: 17px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    &-wrap {
        @include transition(visibilty, $animTime, $easeOutExpo);

        height: 100%;
        // opacity: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        visibility: hidden;
        width: 100%;

        &.active {
            // opacity: 1;
            visibility: visible;
        }
    }

    &.dark {
        background-color: $matte-black;

        svg {
            polygon {
                fill: $white;
            }

            path {
                opacity: 0;
            }
        }

        .menu .box {
            background-color: $white;
        }
    }

    &.hide {
        top: -75px;
    }
}

.logo {
    @include translate(0, 50px);

    opacity: 0;
    position: absolute;
    z-index: 1;

    svg {
        polygon,
        path {
            @include transition(opacity, $animTime, $easeOutExpo);

            opacity: 1;
        }
    }
}

/* =======================================================================
04 Main Navigation
========================================================================== */
.primary-nav {
    @include transition(all, $animTime, $easeOutExpo);

    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 10;

    &.active {
        opacity: 1;
        visibility: visible;

        li {
            background-color: transparent;
            -webkit-transform: none;

            /* Safari */
            -ms-transform: none;

            /* IE 9 */
            transform: none;
            opacity: 1;
        }

        .overlay {
            height: 100%;
        }
    }

    .overlay {
        @include transition(height, 0.3s, $easeOutExpo);

        background-color: rgba(22, 21, 20, 0.9);
        display: block;
        cursor: pointer;
        height: 0;
        right: 0;
        position: absolute;
        top: 0;
        width: inherit;
    }

    ul {
        @include normalise-list;
        @extend .clearfix;

        margin-top: 70px;
        overflow-y: scroll;
        padding: 20px 5px;
        position: relative;
        text-align: center;

        &:before {
            @include background-gradient(rgba(22, 21, 20, 0.9), transparent, vertical);

            height: 20px;
            left: 0;
            position: fixed;
            top: 70px;
            width: 100%;
            z-index: 10;
        }
    }

    li {
        @include transition(all, 0.3s, $easeOutExpo);

        background-color: $white;
        -webkit-transform: translate(5px, 20px) scale(0.5);

        /* Safari */
        -ms-transform: translate(5px, 20px) scale(0.5);

        /* IE 9 */
        transform: translate(5px, 20px) scale(0.5);
        will-change: transform;
        float: left;
        height: 40vw;
        opacity: 0;
        margin-bottom: 30px;
        padding: 0 15px;
        position: relative;
        width: 50%;
        z-index: 1;

        &:nth-child(1) {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
        }

        &:nth-child(1),
        &:nth-child(4) {
            -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;
        }

        &:nth-child(3),
        &:nth-child(6) {
            -webkit-transition-delay: 0.3s;
                    transition-delay: 0.3s;
        }

        &:nth-child(5) {
            -webkit-transition-delay: 0.4s;
                    transition-delay: 0.4s;
        }
    }

    a {
        color: $white;
        border: 3px solid $white;
    }

    .element-box {
        &:before {
            display: none;
        }

        .text {
            padding: 0;
        }
    }
}

.menu {
    @include translate(0, 66px);

    background: none;
    border: 0;
    height: 50px;
    overflow: hidden;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 50px;
    visibility: hidden;
    z-index: 15;

    &.active {
        position: fixed;
    }

    .box {
        @include absolute-center;

        @include transition(all, 0.25s, $easeOutExpo);

        background-color: $matte-black;
        display: block;
        height: 8px;
        width: 8px;

        &.tl {
            top: -12px;
            left: -12px;
        }

        &.tr {
            top: -12px;
            right: -12px;
        }

        &.bl {
            bottom: -12px;
            left: -12px;
        }

        &.br {
            bottom: -12px;
            right: -12px;
        }
    }
}

/* =======================================================================
05 Homepage
========================================================================== */
section {
    display: none;

    h1 {
        border-left: 0px solid $blue;
        color: $white;
        display: block;
        font-size: 2.8em;
        margin-bottom: 40px;
        margin-top: 20px;
        padding: 15px 30px 15px 15px;
        position: relative;
        text-overflow: clip;
        z-index: 1;

        .icon {
            bottom: 0;
            height: 24px;
            font-size: 0.750em;
            margin: auto;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 15px;
        }
    }

    h2 {
        @include translate(0, 50px);

        margin-top: 0;
        margin-bottom: 20px;
        opacity: 0;
        position: relative;
        z-index: 1;
    }

    p {
        @include translate(0, 50px);

        opacity: 0;
        position: relative;
    }

    hr {
        border-top: 3px solid $matte-black;
        width: 0;
    }

    .bar {
        background-color: $matte-black;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 1;
    }

    .text {
        color: $white;
        position: relative;
        z-index: 5;
    }
}

.hello {
    display: block;
    // margin-top: 5vmin;

    h1 {
        display: block;
        font-size: 3.4em;
        height: 75px;
        margin-top: 10px;
        max-width: 585px;
        opacity: 0;
        padding: 20px;

        .bar {
            background: $matte-black;
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 0;
            z-index: -1;
        }
    }

    p {
        @include translate(0, 50px);

        font-size: 1.8em;
        opacity: 0;
        position: relative;

        a {
            margin: 0;
        }
    }

    nav {
        display: none;

        ul {
            @include normalise-list;

            margin: 0 (-$gutter);
            text-align: center;
        }

        li {
            @include translate(0, 50px);

            float: left;
            height: 40vw;
            opacity: 0;
            margin-bottom: 30px;
            padding: 0 $gutter;
            position: relative;
            width: 50%;

            &:last-child {
                width: 100%;
            }
        }

        .text {
            color: $matte-black;
        }
    }

    hr {
        display: none;
        width: 0;
    }

    .text {
        display: block;
        overflow: hidden;
        padding: 0 0 2px;
        text-overflow: clip;
        white-space: nowrap;
    }
}

.element {
    &-box {
        display: -webkit-flex;

        /* Safari */
        display: flex;
        -webkit-align-items: center;

        /* Safari 7.0+ */
        align-items: center;
        -webkit-justify-content: center;

        /* Safari 6.1+ */
        justify-content: center;
        border: 3px solid $matte-black;
        height: 100%;
        margin: 0;
        // overflow: hidden;
        padding: 6.5vw 2.5vw;
        position: relative;
        text-decoration: none;

        // &:before {
        //     background-color: $matte-black;
        //     content: '';
        //     left: 5px;
        //     height: 8px;
        //     position: absolute;
        //     top: 5px;
        //     width: 8px;
        // }

        &.active {
            border: 3px solid $blue;
            margin: 0;
            padding: 0;

            .icon {
                @include scale(1);

                opacity: 1;
            }
        }

        .abbr,
        .full {
            display: block;
            line-height: 1;
            vertical-align: top;
        }

        .abbr {
            font-size: 1.950em;
            margin-bottom: 5px;
        }

        .full {
            font-size: 0.750em;
        }

        .icon {
            @include scale(0.75);

            @include transition(all, 0.25s, $easeOutExpo);

            background: $blue;
            color: $white;
            height: 100%;
            font-size: 3.75em;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;

            &:before {
                @include absolute-center;

                height: 75px;
                width: 75px;
            }
        }
    }

    &-clone {
        background-color: $blue;
        overflow: hidden;
        position: absolute;
        z-index: 10;

        a {
            border: 3px solid $blue;
            margin: 0;
            padding: 0;
        }

        .text {
            display: none;
        }

        .icon {
            @include scale(1);

            background-color: transparent;
            opacity: 1;
        }
    }
}

@media (max-width: $bpMaxMobile) and (orientation: landscape) {
    .primary-nav {
        li {
            height: 27vw;
            width: 33.333333%;

            &:nth-child(3) {
                -webkit-transition-delay: 0.1s;
                        transition-delay: 0.1s;
            }

            &:nth-child(2),
            &:nth-child(6) {
                -webkit-transition-delay: 0.2s;
                        transition-delay: 0.2s;
            }

            &:nth-child(1),
            &:nth-child(5) {
                -webkit-transition-delay: 0.3s;
                        transition-delay: 0.3s;
            }

            &:nth-child(4) {
                -webkit-transition-delay: 0.4s;
                        transition-delay: 0.4s;
            }
        }

        .icon {
            font-size: 3em;

            &:before {
                height: 48px;
                width: 48px;
            }
        }

        .full {
            font-size: 0.6em;
        }
    }
}

.about {
    .skills {
        &__bar {
            @include translate(0, 50px);

            background-color: $matte-black;
            height: 30px;
            margin-bottom: 15px;
            min-width: 60px;
            opacity: 0;
            padding: 10px;
            position: relative;
            width: 0;

            &:before {
                background-color: $matte-black;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 5;
            }

            &:after {
                background: repeating-linear-gradient(
                    -45deg,
                    lighten($matte-black, 25%),
                    lighten($matte-black, 25%) 2px,
                    transparent 0px,
                    transparent 5px
                );

                content: '';
                height: 100%;
                left: 4px;
                top: 4px;
                position: absolute;
                width: 100%;
                z-index: 1;
            }
        }

        &__label {
            color: $white;
            font-size: 1.5em;
            opacity: 0;
            position: absolute;
            top: 4px;
            z-index: 10;
        }

        &__percent {
            color: $white;
            display: none;
            position: absolute;
            top: -2px;
            right: 5px;
            z-index: 10;

            &-number {
                font-size: 2em;
                font-weight: $bold;
            }

            &-unit {
                font-size: 1.2em;
            }
        }
    }

    .logos {
        margin-top: 20px;
        text-align: center;

        ul {
            @include normalise-list;
        }

        li {
            @include translate(0, 50px);

            @include inline-block;

            margin: 0 15px;
            opacity: 0;
            position: relative;
            width: 19.5vw;
        }

        p {
            text-align: center;
        }
    }
}

.achievements {
    .beta {
        display: block !important;
        font-size: 0.9em;
        margin: auto;
        max-width: 290px;
        width: 100%;

        &:before {
            left: 44px !important;
        }

        &:after {
            left: 54px !important;
        }
    }

    .col-l {
        .link {
            @include translate(0, 50px);
            @include no-transition;

            display: block;
            text-align: center;
            opacity: 0;
            position: relative;
        }
    }

    .nominations {
        ul {
            @extend .clearfix;
            @include normalise-list;

            margin: 0 -10px;
        }

        li {
            float: left;
            font-size: 0.8em;
            height: 133px;
            line-height: 1.125;
            margin: 0 10px 25px;
            position: relative;
            padding: 0;
            vertical-align: top;
            width: 42.85%;
            z-index: 1;

            &.init {
                .ui-corner {
                    @include translate(0, 0);

                    opacity: 1;
                }

                .title {
                    @include translate(0, -50%);

                    opacity: 1;
                }
            }
        }

        .title {
            @include transition(all, $animTime + 0.25s, $easeOutExpo);
            @include vertically-centering-the-unknown();
            @include translate(0, 0);

            -webkit-transition-delay: 0.2s;
                    transition-delay: 0.2s;

            display: block;
            font-weight: $bold;
            opacity: 0;
            padding: 0 20px;
            text-align: center;
            width: 100%;

            .light {
                font-weight: $light;
                margin-top: 5px;
            }
        }
    }


    $uiDim1: 6px;
    $uiDim2: 2px;
    $uiOffset: 25px;

    .ui {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;

        &-corner {
            @include transition(all, $animTime + 0.25s, $easeOutExpo);

            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;

            opacity: 0;
            position: absolute;
            height: $uiDim1;
            width: $uiDim1;

            &:before,
            &:after {
                background-color: $matte-black;
                content: '';
                position: absolute;
            }

            &:before {
                height: $uiDim1;
                left: 0;
                top: 0;
                width: $uiDim2;
            }

            &:after {
                height: $uiDim2;
                left: 0;
                top: 0;
                width: $uiDim1;
            }

            &__ul {
                @include translate($uiOffset, $uiOffset);

                left: 0;
                top: 0;
            }

            &__ur {
                @include translate(-$uiOffset, $uiOffset);

                top: 0;
                right: 0;

                &:before {
                    left: auto;
                    right: 0;
                }
            }

            &__bl {
                @include translate($uiOffset, -$uiOffset);

                bottom: 0;
                left: 0;

                &:after {
                    bottom: 0;
                    top: auto;
                }
            }

            &__br {
                @include translate(-$uiOffset, -$uiOffset);

                bottom: 0;
                right: 0;

                &:before {
                    left: auto;
                    right: 0;
                }

                &:after {
                    bottom: 0;
                    top: auto;
                }
            }
        }

        &-pattern {
            background: repeating-linear-gradient(
                -45deg,
                lighten($matte-black, 68%),
                lighten($matte-black, 68%) 2px,
                transparent 0px,
                transparent 4px
            );

            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
        }
    }

    .text {
        display: block;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }

    .ribbons {
        margin-top: 20px;
        text-align: center;

        ul {
            @include normalise-list;

            margin: auto;
            max-width: 675px;
        }

        li {
            @include translate(0, 50px);
            @include inline-block;

            border: 4px solid $matte-black;
            height: 90px;
            margin: 0 15px 30px;
            opacity: 0;
            padding: 46px;
            position: relative;
            vertical-align: top;
            width: 28vw;

            &:nth-child(1) {
                img {
                    left: -10px;
                    right: auto;
                }
            }

            &:nth-child(7) {
                img {
                    bottom: auto;
                    left: auto;
                }
            }

            &:nth-child(8) {
                img {
                    bottom: auto;
                    right: auto;
                    top: 20px;
                }
            }

            &:nth-child(9) {
                img {
                    left: auto;
                }
            }

            img {
                @include absolute-center;

                max-height: 82px;
                max-width: 82px;
                vertical-align: middle;
                width: auto;
            }
        }

        p {
            text-align: center;
        }
    }
}

.case-studies {
    .card {
        background-color: transparent;
        border: 6px solid $matte-black;
        height: 220px;
        overflow: hidden;
        padding: 0;
        position: relative;

        &:before,
        &:after {
            @include transition(width, $animTime, $easeInOutExpo);

            content: '';
            cursor: pointer;
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 0;
            z-index: 5;
        }

        &:before {
            background-color: $blue;
        }

        &:after {
            -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;

            background-color: $matte-black;
        }

        &:hover {
            &:before,
            &:after {
                width: 100%;
            }

            .card-title,
            .card-desc {
                color: $white;
            }

            .card-text {
                .cta {
                    background-color: $white;
                    color: $matte-black;
                    max-width: 215px;

                    .icon {
                        color: $matte-black;
                        opacity: 1;

                        &:first-child {
                            @include translate(-10px, 0);
                        }

                        &:last-child {
                            @include translate(0, 0);
                        }
                    }
                }
            }
        }

        img {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);

            left: 0;
            opacity: 0.25;
            position: absolute;
            top: 0;
            z-index: 1;
        }

        &-wrap {
            height: 100%;
            position: relative;

            // &:before {
            //     background-color: $matte-black;
            //     content: '';
            //     height: 100%;
            //     left: 0;
            //     opacity: 0.75;
            //     position: absolute;
            //     top: 0;
            //     width: 100%;
            //     z-index: 5;
            // }

            // &:after {
            //     background: repeating-linear-gradient(
            //         -45deg,
            //         lighten($matte-black, 25%),
            //         lighten($matte-black, 25%) 2px,
            //         transparent 0px,
            //         transparent 5px
            //     );

            //     content: '';
            //     height: 100%;
            //     left: 0;
            //     opacity: 0;
            //     position: absolute;
            //     top: 0;
            //     width: 100%;
            //     z-index: 1;
            // }
        }

        &-text {
            bottom: 20px;
            left: 20px;
            max-width: 300px;
            position: absolute;
            right: 20px;
            text-decoration: none;
            z-index: 10;

            .cta {
                @include transition(all, $animTime, $easeInOutExpo);

                background-color: $matte-black;
                color: $white;
                margin-bottom: 0;
                max-width: 180px;
                overflow: hidden;
                position: relative;
                text-align: center;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &-title {
            @include transition(color, $animTime, $easeInOutExpo);

            display: block;
            font-size: 1.325em;
            line-height: 1;
            margin-bottom: 10px;
        }

        &-desc {
            @include transition(all, $animTime, $easeInOutExpo);

            display: block;
            font-size: 0.800em;
            font-style: italic;
            font-weight: $light;
            line-height: 1;
            margin-bottom: 20px;
        }

        &-link {
            background-size: cover;
            background-repeat: no-repeat;
            display: block;
            margin-bottom: 20px;
            width: 100%;

            &:only-child,
            &:last-child {
                margin-bottom: 0;
            }

            img {
                height: 100%;
                object-fit: cover;
                object-position: top center;
                width: 100%;
            }
        }

        .cta {
            @include transition(all, $animTime, $easeInOutExpo);

            padding: 10px 20px;
            position: relative;
            max-width: 185px;
            text-align: left;

            &-icon {
                bottom: 0;
                position: absolute;
                right: 0;
                top: 0;

                .icon {
                    @include transition(all, $animTime, $easeInOutExpo);

                    bottom: 0;
                    color: $white;
                    display: block;
                    font-size: 2em;
                    height: 40px;
                    margin: auto;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 40px;

                    &:first-child {
                        @include translate(-40px, 0);

                        -webkit-transition-delay: 0.3s;
                                transition-delay: 0.3s;
                    }

                    &:last-child {
                        @include translate(-30px, 0);

                        -webkit-transition-delay: 0.2s;
                                transition-delay: 0.2s;
                    }
                }
            }
        }
    }

    .col:last-child {
        margin-bottom: 0;
    }
}

.case-study {
    hr {
        position: relative;
    }

    &__section {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }

        h2,
        h3,
        li,
        p,
        .cta {
            @include translate(0, 50px);

            opacity: 0;
        }

        h2 {
            margin: 0;
            padding: 10px 0;
        }

        hr {
            height: 0;
            margin: 0;
            width: 0;
        }

        li {
            font-family: 'EBGaramond-Regular', serif;
            font-weight: $light;
        }

        .pattern {
            background: repeating-linear-gradient(
                -45deg,
                lighten($matte-black, 60%),
                lighten($matte-black, 60%) 2px,
                transparent 0px,
                transparent 5px
            );

            display: block;
            height: 10px;
            margin-bottom: 20px;
            width: 0;
        }
    }

    .cta {
        @include no-transition();

        background-color: $matte-black;
        color: $white !important;
        cursor: pointer;
        display: block;
        margin: 0 auto 40px;
        padding: 10px 14px;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 160px;

        span {
            position: relative;
            z-index: 5;
        }

        &:hover {
            @extend .glitch;

            text-decoration: none;

            &:before,
            &:after {
                top: 10px;
            }

            &:before {
                left: 18px !important;
            }

            &:after {
                left: 23px !important;
            }
        }
    }

    .tldr {
        &-sub {
            li,
            p {
                font-size: 16px;
            }
        }
    }

    .navigation {
        a {
            @include transition(all, $animTime, $easeInOutExpo);

            background-color: $white;
            display: block;
            margin-bottom: 15px;
            padding: 20px;
            position: relative;

            &:before,
            &:after {
                @include transition(width, $animTime, $easeInOutExpo);

                content: '';
                cursor: pointer;
                display: block;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 0;
                z-index: 5;
            }

            &:before {
                background-color: $blue;
            }

            &:after {
                -webkit-transition-delay: 0.1s;
                        transition-delay: 0.1s;

                background-color: $matte-black;
            }

            &:hover {
                color: $white;

                &:before,
                &:after {
                    width: 100%;
                }

                .line {
                    background-color: $white;
                    opacity: 0;
                    width: 6px;
                }

                .icon {
                    opacity: 1;

                    &:first-child {
                        @include translate(-10px, 0);
                    }

                    &:last-child {
                        @include translate(0, 0);
                    }
                }
            }
        }

        &-label {
            line-height: 1;
            position: relative;
            z-index: 10;

            span {
                font-weight: $light;
            }
        }

        &-shadow {
            display: block;
            margin-bottom: 0;
            height: 100%;
            width: 100%;

            &:after {
                background: repeating-linear-gradient(
                    -45deg,
                    lighten($matte-black, 25%),
                    lighten($matte-black, 25%) 2px,
                    transparent 0px,
                    transparent 5px
                );

                content: '';
                height: 100%;
                left: 5px;
                top: 5px;
                position: absolute;
                width: 100%;
                z-index: -1;
            }
        }

        &-icon {
            bottom: 0;
            height: 100%;
            padding: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 10;

            .icon {
                @include transition(all, $animTime, $easeInOutExpo);

                bottom: 0;
                color: $white;
                display: block;
                font-size: 2em;
                height: 40px;
                margin: auto;
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;

                &:first-child {
                    @include translate(-40px, 0);

                    -webkit-transition-delay: 0.3s;
                            transition-delay: 0.3s;
                }

                &:last-child {
                    @include translate(-30px, 0);

                    -webkit-transition-delay: 0.2s;
                            transition-delay: 0.2s;
                }
            }
        }
    }

    .col {
        @include translate(0, 50px);

        margin-bottom: 0;
        opacity: 0;
    }

    .line {
        @include transition(all, $animTime, $easeInOutExpo);

        background-color: $matte-black;
        bottom: 0;
        display: none;
        height: 1px;
        right: 20px;
        margin: auto;
        position: absolute;
        top: 0;
        z-index: 10;
    }
}

.contact {
    p {
        margin-bottom: 0;
        text-align: center;
    }

    &-icons {
        margin-top: 20px;
        text-align: center;

        ul {
            @include normalise-list;

            li {
                @include translate(0, 50px);

                @include inline-block;

                margin: 0 25px;
                opacity: 0;
                position: relative;
            }

            a {
                display: block;
                font-size: 2.0em;
                text-decoration: none;
            }
        }
    }
}

.error {
    display: none;

    h1 {
        .icon {
            color: $white;
        }
    }

    p {
        @include translate(0, 50px);

        font-size: 2.4em;
        text-align: center;
    }

    .bar {
        background-color: $red;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
        z-index: -1;
    }

    .glitch {
        &:before,
        &:after {
            background: $red;
        }
    }
}

/* =======================================================================
06 Standard
========================================================================== */
.container {
    @extend %container;

    padding: 0 $gutter;

    .wrap {
        @include clearfix;

        margin: 0 (-$gutter);
        padding: 0;
    }
}

/* =======================================================================
07 Footer
========================================================================== */

/* =======================================================================
08 Components
========================================================================== */
@import "components/materialDesign/main";
@import "components/mCustomScrollbar/main";