// Buttons and CTAs
.cta {
    color: $blue;
    display: block;
    padding: 10px;
    position: relative;

    &:hover { text-decoration: underline; }
}

.menu {
    .line {
        background: $white;
        display: block;
        height: 2px;
        margin: 2px auto;
        position: relative;
        top: 0;
        width: 15px;
    }
}

// Cards
.card {
    // @include transition( all, 1s, $easeOutExpo );
    @include translate(0, 150px);

    opacity: 0;
    padding: 15px;
    position: relative;

    &.show {
        opacity: 1;
        top: 0;
    }

    &.up {
        top: -150px;
    }

    .card-wrapper {
        background: $white;
        border-radius: 2px;
        min-height: 100px;
        padding: 15px;
    }
}


// Shadows
.shadow-z0 { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
.shadow-z1 { box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.24); }
.shadow-z2 { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
.shadow-z3 { box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
.shadow-z4 { box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
.shadow-z5 { box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); }


// Toaster
.toaster-wrap {
    bottom: 30px;
    left: 30px;
    max-width: 440px;
    position: fixed;
    width: 100%;
}

.toaster {
    @extend .shadow-z1;
    @include scale(0, left bottom);

    background: #323232;
    border-radius: 4px;
    color: $white;
    margin-bottom: 10px;
    padding: 20px;

    &:only-child,
    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    button {
        @include absolute-center;

        background: none;
        border: 0;
        height: 20px;
        left: auto;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
    }

    .icon {
        display: block;
        font-size: 2em;
    }
}