mixin navigation(spec)
    - spec = spec || {}

    nav.primary-nav(itemscope='', itemtype='http://schema.org/SiteNavigationElement')
        ul
            li
                a.element-box(href='/#/hello/', data-name='hello', rel='nofollow')
                    span.text
                        span.abbr(aria-hidden='true') Ho
                        span.full home
                    span.icon.icon-infinite
            li
                a.element-box(href='/#/about/', data-name='about', rel='nofollow')
                    span.text
                        span.abbr(aria-hidden='true') Ab
                        span.full about
                    span.icon.icon-about
            li
                a.element-box(href='/#/achievements/', data-name='achievements', rel='nofollow')
                    span.text
                        span.abbr(aria-hidden='true') Ac
                        span.full achievements
                    span.icon.icon-achievements
            li
                a.element-box(href='/#/coding/', data-name='coding', rel='nofollow')
                    span.text
                        span.abbr(aria-hidden='true') Co
                        span.full coding
                    span.icon.icon-coding
            li
                a.element-box(href='/#/design/', data-name='design', rel='nofollow')
                    span.text
                        span.abbr(aria-hidden='true') De
                        span.full design
                    span.icon.icon-design
            li
                a.element-box(href='/#/contact/', data-name='contact', rel='nofollow')
                    span.text
                        span.abbr(aria-hidden='true') Ct
                        span.full contact
                    span.icon.icon-contact
