/* =======================================================================
Global
========================================================================== */
html {
    box-sizing: border-box;
}

body {
    font: 62.5%/1.618 'HelveticaNeue', Arial, sans-serif;

//     font: 62.5%/1.618 sans-serif;
//     font-family:
// /* 1 */ -apple-system, BlinkMacSystemFont,
// /* 2 */ "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
// /* 3 */ "Helvetica Neue", sans-serif;
    margin: 0 !important;
}

h1, h2, h3, h4, h5, h6,
address {
    word-break: break-word;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.6em;
}

h3 {
    font-size: 2.4em;
}

hr {
    margin: 40px 0;
}

menu, ol, ul {
    margin-bottom: 20px;
    padding: 0 0 0 40px;

    li {
        font-size: 1.8em;

        li {
            font-size: 1em;
        }

        a {
            font-size: 1em;
        }
    }
}

ol, ul {
    margin: auto;

    // code, kbd, pre, samp {
    //     font-size: inherit;
    // }
}

img {
    display: block;
    height: auto;
    margin: 0 auto 10px;
    max-width: 100%;
    width: 100%;

    @include tablet {
        margin: 0 0 10px;
        width: auto;
    }
}

p {
    font-size: 1.8em;
    word-break: break-word;

    a {
        font-size: 1em;
    }
}

a {
    color: $black;
    font-size: $default-font-size;
    font-weight: $bold;
    margin-bottom: 10px;
    text-decoration: none;
}

button {
    overflow: hidden;
    position: relative;

    &:focus {
        outline: 0;
    }
}

svg.ripple {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;

    circle {
        fill: $white;
        opacity: 0;
    }
}

.no-objectfit {
    .card-wrap {
        background-size: cover;
        background-position: center;

        img {
            display: none;
        }
    }
}



/* =======================================================================
Layout
========================================================================== */
#main {
    @include transition(height, $animTime, $easeOutExpo);

    display: flex;
    height: calc(100vh - 75px);
    margin-top: 75px;
}

.glitch {
    display: block;
    position: relative;

    &:before,
    &:after {
        background: $black;
        content: attr(data-text);
        clip: rect(0, 900px, 0, 0);
        opacity: 0.5;
        overflow: hidden;
        position: absolute;
        top: 0;
    }

    &:before {
        animation: noise-anim-2 3s infinite linear alternate-reverse;
        left: -5px;
        text-shadow: 1px 0 cyan;
    }

    &:after {
        animation: noise-anim-1 2s infinite linear alternate-reverse;
        left: 5px;
        text-shadow: -1px 0 red;
    }
}

@keyframes noise-anim-1 {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

@keyframes noise-anim-2 {
    $steps: 20;

    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

p {
    color: $black;
    font-weight: $light;
    font-family: 'EBGaramond-Regular', serif;
    font-size: 2em;
    // font-family: 'Droid Serif', serif;
    margin-top: 0;

    a {
        background-color: $black;
        color: $white;
        display: inline-block;
        font-weight: $bold;
        margin-bottom: 0;
        padding: 2px 10px 4px;
        position: relative;
        z-index: 1;

        &:hover {
            @extend .glitch;

            display: inline-block;
        }

        &:before,
        &:after {
            left: 0 !important;
            top: 2px !important;
        }

        &:before {
            left: 7px !important;
        }

        &:after {
            left: 13px !important;
        }
    }
}