// Common Font Weights From Google Fonts
$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;
$ultra-bold: 900;

// Helvetica Fonts
@font-face {
    font-family: 'HelveticaNeue';
    src: url("fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"),
        url("fonts/HelveticaNeue-Light.otf") format("opentype"),
        url("fonts/HelveticaNeue-Light.woff") format("woff"),
        url("fonts/HelveticaNeue-Light.ttf") format("truetype"),
        url("fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
    font-weight: $light;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url("fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"),
        url("fonts/HelveticaNeue.otf") format("opentype"),
        url("fonts/HelveticaNeue.woff") format("woff"),
        url("fonts/HelveticaNeue.ttf") format("truetype"),
        url("fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
    font-weight: $normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url("fonts/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/HelveticaNeue-Bold.otf") format("opentype"),
        url("fonts/HelveticaNeue-Bold.woff") format("woff"),
        url("fonts/HelveticaNeue-Bold.ttf") format("truetype"),
        url("fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
    font-weight: $bold;
    font-style: normal;
}

// Garamond
@font-face {
    font-family: 'EBGaramond-Regular';
    src: url("fonts/EBGaramond-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/EBGaramond-Regular.otf") format("opentype"),
        url("fonts/EBGaramond-Regular.woff") format("woff"),
        url("fonts/EBGaramond-Regular.ttf") format("truetype"),
        url("fonts/EBGaramond-Regular.svg#EBGaramond-Regular") format("svg");
    font-weight: $bold;
    font-style: normal;
}

// DroidSerif
// @font-face {
//     font-family: 'DroidSerif';
//     src: url('fonts/DroidSerif.eot?#iefix') format('embedded-opentype'),
//         url('fonts/DroidSerif.woff') format('woff'),
//         url('fonts/DroidSerif.ttf') format('truetype'),
//         url('fonts/DroidSerif.svg#DroidSerif') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }



// Icomoon Fonts
@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.eot?-p3pgtp");
    src: url("fonts/icomoon.eot?#iefix-p3pgtp") format("embedded-opentype"),
        url("fonts/icomoon.woff?-p3pgtp") format("woff"),
        url("fonts/icomoon.ttf?-p3pgtp") format("truetype"),
        url("fonts/icomoon.svg?-p3pgtp#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

%icomoon {
    font-family: "icomoon", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
    @extend %icomoon;
}

.icon-chevron-right:before {
  content: "\e90c";
}
.icon-warning:before {
  content: "\e90b";
}
.icon-about:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-design:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-coding:before {
  content: "\e905";
}
.icon-contact:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e907";
}
.icon-achievements:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-infinite:before {
  content: "\e90a";
}
