// Cards
.card {
    opacity: 0;
    position: relative;
    transform: translate(0, 150px);

    &__wrapper {
        background: $white;
        border-radius: 2px;
        min-height: 100px;
        padding: 15px 20px;
    }

    @include tablet {
        margin-bottom: 30px;
    }
}




.shadow-z0 {
    @include material-shadow(0);
}

.shadow-z1 {
    @include material-shadow(1);
}

.shadow-z2 {
    @include material-shadow(2);
}

.shadow-z3 {
    @include material-shadow(3);
}

.shadow-z4 {
    @include material-shadow(4);
}

.shadow-z5 {
    @include material-shadow(5);
}


// Toaster
.toaster-wrap {
    bottom: 30px;
    left: 30px;
    max-width: 440px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.toaster {
    @include material-shadow(1);

    background: #323232;
    border-radius: 4px;
    color: $white;
    margin-bottom: 10px;
    opacity: 0;
    padding: 20px;
    transform: scale(0.75);
    transform-origin: left bottom;

    &:only-child,
    &:last-child {
        margin-bottom: 0;
    }

    p {
        margin: 0;
    }

    button {
        @include absolute-center;

        background: none;
        border: 0;
        color: $white;
        height: 20px;
        left: auto;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
    }

    .icon {
        display: block;
        font-size: 2em;
    }
}