// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Normalize Styles
// @import "node_modules/normalize.css/normalize";
// @import "node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar";

// Import all needed help
@import 'common/_variables';
@import 'common/_mixin';
@import 'common/_material-mixin';
@import 'common/_helpers';
@import 'common/_fonts';
@import 'common/_base';
@import 'common/_grid';
@import 'common/_material-design';

// Import Modules
@import "../_modules/organisms/header/header";
@import "../_modules/organisms/sections/sections";

@import "../_modules/molecules/navigation/navigation";


// Print
@media print {
    .header {
        display: none;
    }

    #main {
        margin-top: 0;
    }

    .hello {
        nav {
            display: none;
        }

        hr {
            margin: 0;
        }

        .col-10 {
            margin: 0;
            width: 100%;
        }
    }

    .about {
        display: block;

        .col-r {
            display: none;
        }

        .logos {
            display: none;
        }
    }

    .achievements {
        display: block;

        .col-l {
            a {
                @include reset-centering();

                opacity: 1;
            }
        }

        .ui-corner {
            @include reset-centering();

            opacity: 1;
        }

        .ui {
            display: none;
        }

        .nominations {
            li {
                height: auto;
                padding: 0
            }

            .title {
                @include reset-centering();

                opacity: 1;
            }
        }
    }

    .contact {
        display: block;

        p {
            text-align: left;
        }

        ul {
            text-align: center;

            li {
                display: inline-block;
                transform: translate(0, 0);
                opacity: 1;
            }

            a {
                font-size: 0.8em;
            }
        }

        &-icons {
            text-align: left;
        }
    }

    section {
        h1 {
            border-left: 0 !important;
            font-size: 3.2em !important;
            height: auto !important;
            margin: 20px 0 10px !important;
            padding: 0 !important;

            .icon {
                display: none !important;
            }
        }

        hr {
            display: none;
        }

        p {
            @include reset-centering();

            opacity: 1;
        }

        .col {
            &-l,
            &-r {
                float: none;
                width: 100%;
            }
        }
    }

    p {
        font-size: 1.4em;
        line-height: 1.25;

        a {
            padding: 0;
        }
    }
}


